<%= form_for(@user) do |u| %>
        <div class='field'>
        	<%= u.label :nombre %>
        	<%= u.text_field :nombre %>
        </div>
       	<div class='field'> 
       		<%= u.label :bio %>
        	<%= u.text_area :bio, :cols => 30, :rows => 20 %>
        </div>        
        <div class='field'>
        	<%= u.label :what %>
        	<%= u.check_box :what, checked: "checked" %>
        </div>
<% end %>